.header-card {
    background-color: #212529;
    color: #ffffff;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.btn-custom-green {
    background-color: #0f7618;
    color: #ffffff;
    border: none;
}

.btn-custom-green:hover {
    background-color: #0d6520;
    color: #ffffff;
}