.navbar-custom {
    background-color: #0f766e;
}

.text-custom-green {
    color: #0f766e;
}

.btn-custom-green {
    background-color: #0f7657;
    color: #ffffff;
    border: none;
}

.btn-custom-green:hover {
    background-color: #0d6543;
    color: #ffffff;
}

.badge-status-disponivel {
    background-color: #0f7643;
    color: #ffffff;
}

.badge-status-adotado {
    background-color: #6c757d;
    color: #ffffff;
}

.badge-status-tratamento {
    background-color: #d97706;
    color: #ffffff;
}